// =============================================================================
// About
// =============================================================================

.about {
  padding: 20px 0;
  h1 {
    margin: 50px 0 15px;
  }
}

button.cv {
  background: transparent;
  padding: 10px 20px;
  border: 1px solid #615b5b;
  color: #615b5b;

    a {
      text-decoration: none;
    }

  &:hover {
    background: #f9f215;
    color: #615b5b;
  }
}


.colophon {
  padding: 20px 20px;
}
